/custom_components/
deps/
image/
tts/

.storage
.cloud
.google.token
*.db
*.db-*
*.log
*.log.*
*.pyc

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
google_calendars.yaml
ip_bans.yaml
secrets.yaml
known_devices.yaml
